<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.devX.rail" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>My Railways Tools</name>
  <description>
        A railways information tool.
    </description>
  <author email="replysam2009@gmail.com" href="">
      Sameer
    </author>
  <content src="index.html"/>
  <icon src="icon.png" />
  <splash src="splash.png" />
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="Fullscreen" value="false" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
